body { 
	padding-top: 70px; 
}
.col-md-12 {
	background-color: grey
}
.col-sm-12 {
	background-color: grey;
}
h3 {
	text-align: center;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#nav-list a {
    text-align: center;
    font-size: 1.5em;
}